<div class="nested-fields">
  <div class="field">
    <div class="col-md-6">
      <%= f.input :user_id, collection: User.from_this_league(@league.id).order(:gamer_id),
                                  prompt: 'Seleccione un usuario',
                                  input_html: { class: 'form-control d-inline-block' } %>
      <%= f.input :position, collection: @positions_for_select.order(:position),
                                  prompt: 'Seleccione una posición',
                                  input_html: { class: 'form-control mb-2 d-inline-block' } %>
      <%= f.input :score, as: :hidden %>
      <br>
      <%= link_to_remove_association "Remover participante", f %>
    </div>
  </div>
</div>
