<p>Barra de navegación provisoria</p>
<ul>
  <li>
    <%= link_to 'ScoreSystems', score_systems_path %>
  </li>
  <li>
    <%= link_to 'Leagues', leagues_path %>
  </li>
  <li>
    <%= link_to 'LeagueRace', league_races_path %>
  </li>
  <li>
    <%= link_to 'RaceTrack', race_tracks_path %>
  </li>
</ul>
