<div class="nested-fields">
  <div class="field">
    <%= f.input :name %>
    <%= f.input :position %>
    <%= f.input :points %>
    <%= link_to_remove_association "Remove position", f %>
  </div>
</div>
